.footer{
	position:fixed;
	right: 0;
    bottom: 0;
    left: 0;
	width:100%;
	z-index: 999;
}

.footerNav{
	width:100%;
	height:60px;
	margin: 0;
	background-color: #f65f57;
	display: flex;
	align-items: center;
	text-align: center;
	color: white;
	padding: 0;
}

.footerNav>li{
	flex: 1;
	height:100%;
	background-color: #f65f57;
	list-style: none outside none;
}

.footerNav>li>a{
	width: 100%;
	height: 100%;
}

.footerNav i{
	margin-top:5px;
    line-height: 28px;
    display: block;
}

.footerNav>li>a{
	display: inline-block;
	color: white;
	text-decoration:none;
	font-size:18px;
}

.footerBlock{
	width: 100%;
	height: 60px;
	display: block;
}

.footer .footerNav .unread{
	position: absolute;
	background-color: white;
	width: 20px;
	height: 20px;
	color: black;
	font-weight: 600;
	border-radius: 50%;
	display: flex;
	justify-content:center;
	align-items:center;
	left: 63%;
	bottom:35px;
}