.headerinfo{
	width: 100%;
	height: 200px;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	background: #FFA07A;
}

.headerinfoimg img{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	border:1px solid #eee;
}

.operationButton{
	width: 100%;
	height: 50px;
	background-color: #eee;
	display: flex;
}

.operationButton div{
	flex:1;
	display: flex;
	justify-content:center;
	align-items:center;
}

.userlist{
	padding:0;
	margin:0;
	overflow: hidden;
	z-index:1;
}

.userlist>li{
	list-style: none outside none;
	padding: 10px;
    border-bottom: 1px solid #ddd;
}

.userlist>li>a{
	text-decoration: none;
	color:#000;
	display:flex;
    justify-content:space-between;
    align-items: center;
}

.userlist .title{
	width: 70%;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}