
@font-face {font-family: "iconfont";
  src: url(./fonts/iconfont.eot?t=1496665260393); /* IE9*/
  src: url(./fonts/iconfont.eot?t=1496665260393#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(./fonts/iconfont.woff?t=1496665260393) format('woff'), /* chrome, firefox */
  url(./fonts/iconfont.ttf?t=1496665260393) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url(./fonts/iconfont.svg?t=1496665260393#iconfont) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before { content: "\e61f"; }

.icon-top:before { content: "\e641"; }

.icon-kaiguan:before { content: "\e623"; }

.icon-message:before { content: "\e60a"; }

.icon-share:before { content: "\e60c"; }

.icon-back:before { content: "\e64d"; }

.icon-home:before { content: "\e62c"; }

.icon-good:before { content: "\e724"; }

.icon-personal:before { content: "\e629"; }

.icon-ask:before { content: "\e808"; }

.icon-dianzandian:before { content: "\e60d"; }

.icon-published:before { content: "\e73e"; }

.icon-dianzandian-copy:before { content: "\e600"; }

.icon-job:before { content: "\e602"; }

