.header{
	width:100%;
	height:50px;
	background-color: #f65f57;
	animation: move-down 0.3s ease-out;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:9999;
}


@keyframes move-down {
    0% {
        transform: translate(0, -10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.icon{
    width: 50px;
    height:50px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.icon i{
    font-size: 32px;
}

.headerContent{
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

