.headerNav{
	width:100%;
	height:50px;
	margin: 0;
	background-color: #f65f57;
	display: flex;
	align-items: center;
	text-align: center;
	color: white;
	padding: 0;
}

.headerNav>li{
	flex: 1;
	list-style: none outside none;
}

.headerNav>li>a{
	display: inline-block;
	-webkit-transition: all 0.2s ease-in;
	color: white;
	text-decoration:none;
}

.headerNav li{
	background:linear-gradient(to bottom,#dd2926,#a82724,#dd2926) no-repeat right / 1px 15px;
}

.headerNav li:last-child{
	background:none;
}